{% extends "axyProyectApp/baseaxy.html" %}

{% load static %}


{% block title %}


<title>Ficha Social de Registro</title>

{% endblock %}

{% block content %}
<!----Encabezado-->
<div class="row border">
  <!----Navegacion-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h3 class="text-primary" href="#">AXY Software</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'PanelPrincipal' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'NuevoDocumento' %}">Nuevo Documento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'Plantillas' %}">Plantillas</a>
          </li>

          <li class="nav-item  dropdown">
            <a class="nav-link active" href="#" role="button" aria-expanded="false">
              Ficha Social de Registro de Beneficiario
            </a>


          </li>
        </ul>

      </div>
    </div>
  </nav>


  <div class="d-flex justify-content-end">
    <a href="{% url 'Login' %}"><button type="button" class="btn-close btn-close-primary"
        aria-label="Close"></button></a>
  </div>
</div>

<div class="row ">
  <h3 class="text-center fw-bold">Información del Beneficiario</h6>
    <p class="text-end">Programa CDSP-Center Based</p>
    <form action=" " method="POST">
      {% csrf_token %}
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Notificación: </strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <P>{{ form.errors}}</P>
    </div>
      
      <div class="row mb-3">
        <div class="form-check col-xs-12 col-md-4 mb-3">
          <label>
            Tipo de Información
          </label>
        </div>
        <div class="form-check col-xs-12 col-md-4 mb-3">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="rRegNuevo" checked>
          <label class="form-check-label" for="rRegNuevo">
            Registro Inicial
          </label>
        </div>
        <div class="form-check col-xs-12 col-md-4 mb-3">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="rActuli">
          <label class="form-check-label" for="rActuali">
            Actualización
          </label>
        </div>
        {% for field in form.visible_fields %}
        <div class="row">
         
            <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
            {{ field }}
          
        </div>
        {% endfor %}

      </div>

</div>



<div class="row mb-3 justify-content-center">


  <div class="col-md-6 col-lg-6 mb-3">
    <div class="row  mx-5 d-flex justify-content-center">
      <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
  </div>


</div>


</form>
</div>

{% endblock %}