{% extends "axyProyectApp/baseaxy.html" %}

{% load static %}

{% block content %}
<!----Encabezado-->

<div class="row d-flex justify-content-between ">

    <aside class="col-xs-12 col-md-4 col-lg-4  border">
        <!----izquierdo-->
        <form action="">
            <h3>ESCANER</h3>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Escaner</label>
                <input class="form-control" type="text" value="Canon G2100" aria-label="readonly input example"
                    readonly>
            </div>
            <label for="exampleDataList" class="form-label">Tipo de Archivo</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Tipo de Archivo">
            <datalist class="my-2" id="datalistOptions">
                <option value="Pdf">
                <option value="JPG">
                <option value="PNG">
                <option value="Mapa de bits">
                <option value="Seleccione una opción">
            </datalist>
            <div class="d-flex flex-column justify-content-center my-4">
                <button class="btn btn-primary my-1" type="button" id="button-addon1">Escanear</button>
                <button class="btn btn-primary my-1" type="button" id="button-addon1">Previsualizar</button>
            </div>
            <div class="mb-3">
                <label for="formFileSm" class="form-label">Cargar un archivo</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
            </div>
        </form>
    </aside>
    <aside class="col-xs-12 col-md-8 col-lg-8 border ">
        <!----derecho-->
        <img class="img-fluid" src="img/OSD.jpeg" alt="">

    </aside>
    {% endblock %}