<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'axyProyectApp/vendor/css/bootstrap.min.css' %}" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'axyProyectApp/vendor/css/main.css' %}">
    {% block title %}
    
    {% endblock %}
</head>

<body>
    <div class="container">     

            <!----Encabezado-->    

        <div class="row d-flex justify-content-between align-items-center vh-100">

            {% block content %}

            {% endblock %}


        </div>
    </div>
    <script src="{% static 'axyProyectApp/vendor/js/popper.min.js' %}"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"> </script>
    <script src="{% static 'axyProyectApp/vendor/js/bootstrap.min.js' %}"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"> </script>

</body>

</html>