<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=”stylesheet” href=”main.css”>
    <title>CDI JIREH</title>
</head>

<body><br/>

    <br/>
    <div class="card">
        <div class="card-body">
            <h1>
                <CENTER>DIGITALIZAR DOCUMENTO</CENTER>
            </h1>
        </div>
    </div>

    <br><button type="button" class="btn btn-primary btn-lg">Documento</button>
    <button type="button" class="btn btn-secondary btn-lg">Imagen</button>
    <button type="button" class="btn btn-primary btn-lg">Personalizar</button>

    <br/>
    <br/>
    <br/>
    <br/>
    <div class="alert alert-primary" role="alert">
        <h4>Adjuntar a documento</h4>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h4>Volver a fonollamada</h4>
    </div>
    <div class="alert alert-success" role="alert">
        <h4>Volver a inicio</h4>
    </div>
    <br/>
    <br/>
    <br/>


    <p>
        <h2>Cargar un archivo</h2>
    </p>
    <div class="alert alert-primary" role="alert">
        <P align="right"> <button type="button" class="btn btn-primary">Buscar</button></right>
    </div>

</body>