<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=”stylesheet” href=”main.css”>
    <title>CDI JIREH</title>
</head>

<body>
    <br/>

    <button type="button" class="btn btn-primary">Nuevo documento</button>
    <button type="button" class="btn btn-secondary">Plantillas</button>
    <button type="button" class="btn btn-success">Fonollamadas</button>
    <br>
    <br>
    <br>
    <br>
    <p> &emsp; explicación o razón de la inacistencia del niño(a) </p><br /> &emsp; <textarea cols=”20″ rows=”5″ wrap=”hard” readonly=”yes”>texto a escribir</textarea>
    <br>
    <br>
    <br>
    <br>
    <p> &emsp; Compromiso </p>
    <br /> &emsp; <textarea cols=”20″ rows=”5″ wrap=”hard” readonly=”yes”>texto a escribir</textarea><br /><br /> &emsp;
    <div class="container px-4">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light"><input type="date" name="dataFecha" required></div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">duración de la llamada</div>
            </div>
        </div>
    </div><br/>
    <p> &emsp;Quien hizo la llamada</p>
    <br /> &emsp; <textarea cols=”20″ rows=”5″ wrap=”hard” readonly=”yes”>texto a escribir</textarea><br /><br />

    <br/>
    <p> &emsp;Cargo</p>
    <br /> &emsp; <textarea cols=”20″ rows=”5″ wrap=”hard” readonly=”yes”>texto a escribir</textarea><br /><br />

    <button type="button" class="btn btn-primary btn-sm">Atras</button>
    <button type="button" class="btn btn-secondary btn-sm">Guardar</button><br/><br/>


    <script src="js/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</body>

</html>