<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=”stylesheet” href=”main.css”>
    <title>CDI JIREH</title>
</head>

<body>

    <br/>
    <div class="card">
        <div class="card-body">
            <h1>
                <CENTER>MARCO REFERENCIAL</CENTER>
            </h1>
        </div>
    </div>

    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputText" class="form-label">Marco N.</label>
            <input type="Text" class="form-control" id="inputText" placeholder="Escriba numero del marco">
        </div>
        <div class="col-md-6">
            <label for="inputText" class="form-label">Leccion N.</label>
            <input type="Text" class="form-control" id="inputText" placeholder="Escriba numero de la leccion">
        </div>
        <div class="col-md-6">
            <label for="inputText" class="form-label">Nombre del marco</label>
            <input type="Text" class="form-control" id="inputText" placeholder="Escriba el nombre del marco">
        </div>
        <div class="col-md-6">
            <label for="inputtext" class="form-label">Area</label>
            <input type="Text" class="form-control" id="inputText" placeholder="escriba el area">
        </div>
        <div class="col-12">
            <label for="inputtext" class="form-label">Nombre del tutor</label>
            <input type="text" class="form-control" id="inputText" placeholder="Escriba nombre del tutor">
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Palabras claves</th>
                    <th scope="col">Ideas centrales</th>
                    <th scope="col">Aspectos para profundizar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ejemplo</td>
                    <td>Ejemplo</td>
                    <td>Ejemplo</td>
                </tr>
                <tr>
                    <td>Ejemplo</td>
                    <td>Ejemplo</td>
                    <td>Ejemplo</td>
                </tr>
                <tr>
                    <td>Ejemplo</td>
                    <td>Ejemplo</td>
                    <td>Ejemplo</td>
                </tr>
            </tbody>
        </table>


        <div class="col-12">
            <button type="submit" class="btn btn-primary">Volver al inicio</button>
            <button type="submit" class="btn btn-primary">Volver a plantillas</button>
            <button type="submit" class="btn btn-primary">Siguiente</button>

        </div>
    </form>







</body>