<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=”stylesheet” href=”main.css”>
    <title>CDI JIREH</title>
</head>


<body>

    <br/>
    <div class="card">
        <div class="card-body">
            <h1>
                <CENTER>MARCO REFERENCIAL</CENTER>
            </h1>
        </div>
    </div><br/><br/><br/>

    <div class="col-12">
        <label for="inputtext" class="form-label"><h4>Mi reflexion personal</h4></label>
        <input type="text" class="form-control" id="inputText" placeholder="Escriba escriba aqui">
    </div> <br/><br/><br/>

    <div class="col-12">
        <label for="inputtext" class="form-label"><h4>Observacion</h4></label>
        <input type="text" class="form-control" id="inputText" placeholder="Escriba escriba aqui">
    </div><br/><br/><br/>

    <div class="col-12">
        <label for="inputtext" class="form-label"><h4>Nombre de EPD</h4></label>
        <input type="text" class="form-control" id="inputText" placeholder="Escriba escriba aqui">
    </div><br/><br/><br/>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Volver al inicio</button>
        <button type="submit" class="btn btn-primary">Volver a plantillas</button>
        <button type="submit" class="btn btn-primary">Atras</button>
        <button type="submit" class="btn btn-primary">Guardar</button>

    </div>

    <br/ </body>