<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>Axy software</title>
</head>
<body class="vh-100 d-flex align-items-center justify-content-center bg-info">
 <!----Formulario de acceso-->

    <div class="container d-flex row justify-content-center  ">
        <div class="d-flex justify-content-end">
            <a href="axy.html"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></a>
        </div>
        <div class="col-xs-12 col-lg-10 card rounded bg-primary shadow">
            <div class="d-flex row justify-content-center">
                <div class="col-md-4 col-xs-12 text-light py-2">
                    <img class="img-fluid mt-2" src="img/logo_axy.png" alt="Logo software Axy">
                </div>
                <form class="col-md-4 col-xs-12 text-light">
                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp">
                        
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="correo" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text text-light">Su correo debe estar registrado en el sistema.</div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-light ">Enviar</button>
                    </div>
    
                </form>    
               
                <div class="col-md-4 col-xs-12 text-light d-flex align-items-center">
                    <p>Si la información coincide con la
                        registrada en el sistema se te
                        enviará un correo electrónico
                        con la información necesaria
                        para realizar el cambio de
                        contraseña.</p>
                </div>
                
               

            </div>
            
            

        </div>
    </div>
    <script src="js/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>



</body>
</html>