{% extends "axyProyectApp/base.html"%}

{% load static %}

{% block content %}

      <!----Cuerpo-->
        <div class="container ">
            <div class="row py-5 ">
            
                <div class="col-12 d-flex justify-content-center ">
                    <h1>Misión</h1>
                </div>
                <div class="col-lg-2 col-md-1"></div>
                <div class="d-flex justify-content-center col-lg-8 col-md-10 col-xs-12 ">
                    <h6>El Centro de Desarrollo Integral JIREH
                        es un ministerio o programa de la
                        iglesia Centro Cristiano El Tabernáculo
                        con alta vocación de servicio social,
                        que trabaja a favor de defender y
                        proteger los derechos de los niños,
                        niñas y adolescentes, reduciendo las
                        condiciones de vulnerabilidad de
                        nuestra población, gestionando y
                        adelantando programas de atención
                        integral en áreas de asistencia
                        espiritual, económica, social y física;
                        con el fin de liberarlos de la pobreza
                        absoluta en el nombre de Jesús.</h6>
                </div>
                <div class="col-lg-2 col-md-1"></div>
            </div>
            <div class="row py-5">
            
                <div class="col-12 d-flex justify-content-center">
                    <h1>Visión</h1>
                </div>
                <div class="col-lg-2 col-md-1"></div>
                <div class="d-flex justify-content-center col-lg-8 col-md-10 col-xs-12 ">
                    <h6>El CDI JIREH será reconocido por su
                        proyección social y protección
                        integral de niños, niñas y adolescentes,
                        implementando estrategias que
                        permitan la construcción de realidades
                        de bienestar en el desarrollo integral
                        de nuestra población.</h6>
                </div>
                <div class="col-lg-2 col-md-1"></div>
            </div>
        </div>
  
   


   

{% endblock %}