{% extends "axyProyectApp/baseaxy.html" %}

{% load static %}

{% block content %}
      <!----Encabezado-->
      


        
      <div class="row d-flex justify-content-between align-items-center vh-100">

        <aside class="col-xs-12 col-md-12 col-lg-12 mx-0">

          {%  for field in object_list  %}
            <ul class="list-group">
              <li class="list-group-item list-group-item-primary">{{ field }}</li>      
              
              
            </ul>
          {% endfor %}
         
        </aside>
        {% endblock %}